/* Colors */

$ultra-white: hsla(0, 0%, 100%, 1);
$white: hsla(240, 4%, 95%, 1);
$dark-pink: hsla(348, 25%, 61%, 1);
$pink: hsla(358, 60%, 75%, 1);
$pink-light: hsla(358, 60%, 90%, 1);
$peach: hsla(12, 100%, 82%, 1);
$beige: hsla(35, 100%, 95%, 1);
$grey: hsla(240, 4%, 50%, 1);
$black: hsla(240, 4%, 15%, 1);

$border: .05rem solid $grey;